<section class="top-bar">
    <img src="/coding-icon.webp" />
    <div class="logo">Jules<span>GPT</span></div>
</section>

<section class="messaging" #messageContainer>
    <div class="messaging-container">


        <div class="loading" *ngIf="isWaitingOnGPT">
            <img src="loading.gif" />
        </div>

        <div *ngFor="let message of messages; let i = index" class="message">

            <div *ngIf="message.sent" class="message-content sent">
                {{ message.text }}
            </div>

            <div *ngIf="!message.sent" class="message-content received">
                <div class="received-container">
                    <img src="/coding-icon.webp" />
                    <div [innerHTML]="message.text"></div>
                </div>
            </div>
        </div>

    </div>
</section>


<section class="prompts">
    <div *ngFor="let p of prompts; let i=index" class="prompt" (click)="send(p)">
        {{p}}
    </div>
</section>

<section class="input-bar">
    <div class="controls">
        <input #inputTextField type="text" placeholder="Ask Jules" [disabled]="!enableTyping" [(ngModel)]="inputText"
            (keyup.enter)="send()">
        <button (click)="send()" [disabled]="!enableTyping">
            <i class="material-symbols-outlined">send</i>
        </button>
    </div>
</section>