.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5vh;
    background-color: cyan;
}

.messaging {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    margin-top: 5vh;
    overflow-y: auto;

    background-color: yellow;

    .messaging-container {
        background-color: aquamarine;
        width: 100%;
        max-width: 60rem;
        flex: 1;
        display: flex;
        flex-direction: column-reverse;

        .message {
            margin: 5px 0;
        }

        .message-content {
            padding: 10px;
            border-radius: 15px;
            max-width: 70%;
            word-wrap: break-word;
        }

        .sent {
            background-color: #dcf8c6;
            align-self: flex-end;
        }

        .received {
            background-color: #ffffff;
            align-self: flex-start;
        }

    }

}

.input-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5vh;
    background-color: cyan;
}