@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    font-size: 16px;
    font-family: 'system-ui',  'Helvetica', 'Arial';
    --vh: 1vh;
}

body {
    padding: 0;
    margin: 0;
    user-select: none;
    /* Standard property */
    -webkit-user-select: none;
    /* For Safari */
    -moz-user-select: none;
    /* For Firefox */
    -ms-user-select: none;
    /* For Internet Explorer/Edge (legacy) */
}

input,
select,
textarea,
button {
    all: unset;
    font: inherit;
    color: inherit;
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0 0 0 2rem;

    li {
        margin: .5rem 0;
    }
}

.hj-padding {
    padding: 1rem;
}

.hj-capitalize {
    text-transform: capitalize;
}

.hj-full-height {
    height: calc(var(--vh, 1vh) * 100);
    /* Full height visible */
}