@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css");
@import "variables.scss";
:root {
    font-size: 16px;
    font-family: 'system-ui', 'Helvetica', 'Arial';
    --vh: 1vh;
}

body {
    padding: 0;
    margin: 0;
    user-select: none;
    /* Standard property */
    -webkit-user-select: none;
    /* For Safari */
    -moz-user-select: none;
    /* For Firefox */
    -ms-user-select: none;
    /* For Internet Explorer/Edge (legacy) */
}

input,
select,
textarea,
button {
    all: unset;
    font: inherit;
    color: inherit;
    box-sizing: border-box;
}

a {
    all: unset;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

button {
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0 0 0 2rem;

    li {
        margin: .5rem 0;
    }
}

.hj-padding {
    padding: 1rem;
}

.hj-capitalize {
    text-transform: capitalize;
}

.hj-full-height {
    height: calc(var(--vh, 1vh) * 100);
    /* Full height visible */
}

.hide-sm {
    @media (max-width: 767px) {
        display: none;
    }

}

.underlined {
    text-decoration: underline;
    // color: $accent-color;
}

canvas {
    display: none;
}